// Main style sheet for RentMyExpert

#content-wrapper {
    padding: 60px 0px @baseLineHeight;
}

#portal-footer {
    padding: @baseLineHeight;
    border-top: 1px solid @gray;
    #gradient > .vertical(@grayLighter, @grayLight);
}